%table
  %tr
    %td URI:
    %td=h(the_stub.uri)
  %tr
    %td Method:
    %td=the_stub.method
  %tr
    %td Response Status:
    %td=the_stub.response.status
  %tr
    %td Response Body:
    %td=h(the_stub.response.body)
