:javascript
  $(window).load(function() {
    $("a.activate_scenario").on("click", function(event) {
      event.preventDefault();
      var button = $(event.target)
      button.prop("disabled", true);
      $.post(
        "scenarios/activate",
        {name: button.data("name")},
        function(){
          console.log("success");
          button
            .html("Activated")
            .css("color", "green");
          setTimeout(function(){
            button
              .html("Activate")
              .css("color", "inherit");
          }, 3000);
        })
        .fail(function(){
          console.log("failure");
          button
            .html("Failed")
            .css("color", "red");
          setTimeout(function(){
            button
              .html("Activate")
              .css("color", "inherit");
          }, 3000);
        })
        .always(function(data){
          console.log(data);
          button.prop("disabled", false);
        });
    });
  });
