%table{ class: :match }
  %tr
    %td Type:
    %td Match
  %tr
    %td Request:
    %td= partial :request, locals: { request: match.request }
  %tr
    %td Response:
    %td
      %table{ class: :response }
        = partial :response, locals: { response: match.stub.response }
  %tr
    %td Stub:
    %td
      %a{ href: match.stub.stub_uri, class: :stub } Stub
