%table
  %tr
    %td.title URI:
    %td=h(request.uri)
  %tr
    %td.title Method:
    %td=request.method
  %tr
    %td.title Headers:
    %td=h(request.headers)
  %tr
    %td.title Parameters:
    %td=h(request.parameters)
  %tr
    %td.title Body:
    %td=h(request.body)
