%table{ class: :scenario }
  %tr
    %td Name:
    %td
      %a{ href: scenario.uri, class: :scenario_name }= scenario.name
  %tr
    %td Stubs:
    %td
      - scenario.stubs.each do |the_stub|
        = partial :stub, locals: { the_stub: the_stub }
  %tr
    %td Triggered Scenario's:
    %td
      - scenario.triggered_scenarios.each do |triggered_scenario|
        %a{ href: triggered_scenario.uri, class: :triggered_scenario_name }= triggered_scenario.name
  %br
