%table
  %tr
    %td URI:
    %td=h(the_stub.uri)
  %tr
    %td Method:
    %td=the_stub.method
  %tr
    %td Headers:
    %td=h(the_stub.headers)
  %tr
    %td Parameters:
    %td=h(the_stub.parameters)
  %tr
    %td Response Status:
    %td=the_stub.response.status
  %tr
    %td Response Headers:
    %td=h(the_stub.response.headers)
  %tr
    %td Response Body:
    %td=h(the_stub.response.body)
  %tr
    %td Response Delay:
    %td=h(the_stub.response.delay_in_seconds)
  %tr
    %td Triggers:
    %td
      - the_stub.triggers.each do |trigger|
        = partial :stub, locals: { the_stub: trigger }
        %br

