%h1 http_stub diagnostics
%a{ href: "/http_stub/stubs", id: :stubs } List Stubs
%br
%a{ href: "/http_stub/scenarios", id: :scenarios } List Scenarios
%br
%a{ href: "/http_stub/stubs/matches", id: :stub_matches } List Stub Matches & Misses
