!!!
%html
  %head
    %link{ rel: "stylesheet", href: "/application.css", type: "text/css" }
    %link{ rel: "icon",       href: "/favicon.ico",     type: "image/x-icon" }
    %title http_stub server diagnostics
  %body
    =yield
