!!!
%html
  %head
    %link{ rel: "stylesheet", href: "/application.css",     type: "text/css" }
    %link{ rel: "icon",       href: "/favicon.ico",         type: "image/x-icon" }
    %script{                  src:  "/jquery-2.2.4.min.js", type: "text/javascript" }
    %title http_stub server diagnostics
  %body
    =yield
