%h1 Stub Matches & Misses
- match_results.each do |match_result|
  - if match_result.stub
    = partial :match, locals: { match: match_result }
  - else
    = partial :miss, locals: { miss: match_result }
%br
