%header
  %h1 Scenarios
%section
  %table{ class: :scenarios }
    - scenarios.each do |scenario|
      %tr
        %td{ class: ["scenario_name", "header-rule"] }= scenario.name
        %td{ class: "header-rule" }
          %a{ href: session_uri(scenario.links.activate), class: [:scenario, :link, :activate_scenario], data: { name: scenario.name } } Activate
        %td{ class: "header-rule" }
          %a{ href: session_uri(scenario.links.detail), class: [:scenario, :link, :view_scenario] } View Detail
= partial :activate_scenario
