%table{ class: :scenario }
  %tr
    %td Name:
    %td
      %a{ href: scenario.links.activate, class: :activate_scenario, data: { name: scenario.name } }= scenario.name
  %tr
    %td Stubs:
    %td
      - scenario.stubs.each do |the_stub|
        = partial :stub, locals: { the_stub: the_stub }
  %tr
    %td Triggered Scenarios:
    %td
      - scenario.triggered_scenarios.each do |triggered_scenario|
        %a{ href: triggered_scenario.links.detail, class: :triggered_scenario_detail }= triggered_scenario.name
  %br
= partial :activate_scenario
