%h1 Scenarios
%table{ class: :scenarios }
  - scenarios.each do |scenario|
    %tr
      %td
        %a{ href: scenario.uri, class: :scenario }= scenario.name
      %td
        %a{ href: scenario.detail_uri, class: :scenario } View Detail
